body {
    font-family: sans-serif;
    margin: 20px;
}

#app {
    max-width: 800px;
    margin: 0 auto;
}

#game-list, #add-game-form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}